@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to College Management Portal</h1>

    <p>This project is designed by John Inyang <a href="https://wwww.linkedin.com/mwlite/in/john-inyang-745b3462"> being part of technical requirement for MagniFinance recruitment process</a>.</p>
</div>
