@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to College Management Portal</h1>

    <p>This project is designed by John Inyang being part of technical requirement for MagniFinance recruitment process</a>.</p>
</div>
